{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
    <!--css연결-->
  </head>
  <body>
    {% if not user.is_authenticated %}
    <section class="login-form">
      <!--로그인 섹션시작-->
      <h1>PARKING FAIRY 계정으로 로그인</h1>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="int-area">
          <!--ID-->
          <input
            type="text"
            name="username"
            id="username"
            autocomplete="off"
            required
          />
          <label for="id">ID</label>
        </div>

        <div class="int-area">
          <!--PASSWORD-->
          <input
            type="password"
            name="password"
            id="password"
            autocomplete="off"
            required
          />
          <label for="pw">PASSWORD</label>
        </div>

        <div class="btn-area">
          <!--로그인버튼-->
          <button id="btnLogin" type="submit" value="signin_submit">
            LOGIN
          </button>
        </div>
      </form>

      <div class="caption">
        <a href="{% url 'signup' %}">회원이 아니신가요?</a>
      </div>
    </section>
    <!--로그인 섹션 끝-->
    {% else %} {% comment %}
    <section class="login-form">
      <div class="caption">
        <a href="{% url 'index' %}">뒤로가기</a>
      </div>

      <div class="caption">
        <label for="result">{{ user.username }}님 반갑습니다!</label>
      </div>

      <div class="caption">
        <a href="{% url 'logout' %}"> logout </a>
      </div>
    </section>
    {% endcomment %}
    <script language="javascript">
      location.href = "/user/mypage";
    </script>

    {% endif %}
  </body>
</html>
